@import "../../../assets/styles/vars.scss";

.checkbox {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid $grey;
    flex-shrink: 0;
    span {
        color: $black;
        font-size: 20px;
    }
    &--checked {
        border-color: $green;
        background: url("../../../assets/img/icons/check.svg") center no-repeat;
        background-size: cover;
        span {
            color: $grey;
            text-decoration: line-through;
        }
    }
}
