@import "../../../assets/styles/vars.scss";

.controls {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 20px;
    border: 1px solid $grey;
    border-top: 0;
    @include mobileMiddle {
        flex-direction: column;
    }
}

.counter {
    font-size: 16px;
    color: $grey;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.deleteButton {
    font-size: 16px;
    color: $grey;
    cursor: pointer;
    transition: color 0.2s ease;
    &:hover {
        color: #f04545;
    }
}
